.whole{
    background-color: rgb(131, 211, 184);
    min-height: 100vh;
    color: white;
}
.heading{
    padding-top: 3rem;
}
.feedback-form{
    width: 50%;
    border-radius: 0.5rem;
}
.form-label{
    font-size: large;
}